[submodule "projects/mandelbrot"]
	path = projects/mandelbrot
	url = git@github.com:voltrevo/mandelbrot
[submodule "projects/trailer-reversing"]
	path = projects/trailer-reversing
	url = git@github.com:voltrevo/trailer-reversing
[submodule "projects/poisson-meditation"]
	path = projects/poisson-meditation
	url = git@github.com:voltrevo/poisson-meditation
[submodule "projects/lightpost"]
	path = projects/lightpost
	url = git@github.com:voltrevo/lightpost
[submodule "projects/dots"]
	path = projects/dots
	url = git@github.com:voltrevo/dots
[submodule "projects/snake"]
	path = projects/snake
	url = git@github.com:voltrevo/snake
